.project-view-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-view-section img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.project-view-section form {
  width: 100%;
}
/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
}

/* Desktop */

@media screen and (min-width: 1000px) {
}
