{% extends 'layout.html' %}

{% block headers %}
<meta name="robots" content="noindex, nofollow">
{% endblock headers %}

{% block content %}
<br>
<section class="admin-home-section">
    <h2>Admin Page</h2>
    <br>
    <p><b>Total Project Likes:</b> {{likes}}</p>
    <p><b>Total Projects Uploaded:</b> {{projects}}</p>
    <br>
    <div class="admin-options">
        <a class="option" href="{{url_for('admin.add_project')}}">
            <p>Add Project</p>
        </a>
        <a class="option" href="{{url_for('admin.all_projects')}}">
            <p>Projects</p>
        </a>
        <a class="option" href="{{url_for('admin.add_skill')}}">
            <p>Add Skill</p>
        </a>
        <a class="option" href="{{url_for('admin.all_skills')}}">
            <p>All Skills</p>
        </a>
    </div>
</section>
{% endblock content %}