{% extends 'layout.html' %}
{% block headers %}
<meta name="robots" content="noindex, nofollow">
{% endblock headers %}

{% block content %}
<br>
<section class="all-skills-section">
    <h1>All Skills</h1>
    <small>Click to edit!</small>
    <br>
    <br>
    <div class="skills-grid">
        {% for skill in skills %}
        <a class="skill" href="{{url_for('admin.skill_page', skill_id=skill.skill_id)}}">
            <p><b>{{skill.skill.upper()}}</b></p>
            {% if skill.duration > 1 %}
            <p>{{skill.duration}} Months</p>
            {% else %}
            <p>{{skill.duration}} Month</p>
            {% endif %}
        </a>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if pagination.has_prev %}
        <a href="{{ url_for('admin.all_skills', page=pagination.prev_num) }}">
            <p>&lt;Previous</p>
        </a>
        {% endif %}
        {% for page_num in pagination.iter_pages() %}
        {% if page_num %}
        {% if page_num == pagination.page %}
        <span class="current-page">{{ page_num }}</span>
        {% else %}
        <a href="{{ url_for('admin.all_skills', page=page_num) }}">
            {{ page_num }}
        </a>
        {% endif %}
        {% else %}
        <span>...</span>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <a href="{{ url_for('admin.all_skills', page=pagination.next_num) }}">
            <p>Next&gt;</p>
        </a>
        {% endif %}
    </div>
</section>
<br>
<br>
{% endblock content %}