.technologies {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.tech-item {
  flex-shrink: 0;
  width: 150px;
  padding: 20px;
  text-align: center;
  color: var(--colour-text);
}

.technologies:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-section small {
  color: var(--colour-text);
}

.about-top {
  display: flex;
  flex-direction: column;
}

.about-icon {
  background-color: var(--colour-secondary);
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.about-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
}

/* Desktop */

@media screen and (min-width: 1000px) {
}
