.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  width: 100%;
}

.intro-top {
  font-size: 1.5rem;
}

.intro-top p {
  color: var(--colour-grey);
}

.intro-mid {
  width: 100%;
  display: flex;
  align-items: center;
}

.intro-mid-inner-left {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
}

.intro-mid-inner-right img {
  width: 100%;
}

.intro-bottom {
  color: var(--colour-primary);
  font-size: 1.2rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.open-button {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: var(--colour-primary-dark);
  animation: glow 1s infinite ease-in-out;
}

.intro-description {
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--colour-text);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 1px var(--colour-primary-dark);
  }

  50% {
    box-shadow: 0 0 5px var(--colour-primary-dark);
  }

  100% {
    box-shadow: 0 0 1px var(--colour-primary-dark);
  }
}

.flicker {
  height: 10px;
  animation: flicker 1s infinite linear;
  border: 1px solid var(--colour-grey);
  z-index: 0;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 85vh;
    width: 100%;
  }

  .intro-top {
    color: var(--colour-grey);
    font-size: 1.5rem;
  }

  .intro-mid {
    width: 70%;
    display: flex;
    align-items: center;
  }

  .intro-mid-inner-left {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
  }

  .intro-mid-inner-right img {
    width: 100%;
  }

  .intro-bottom {
    color: var(--colour-primary);
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .open-button {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--colour-primary-dark);
    animation: glow 1s infinite ease-in-out;
  }

  .intro-description {
    font-size: 1.2rem;
    color: var(--colour-text);
  }
}

/* Desktop */

@media screen and (min-width: 1000px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
    margin-top: none;
    width: 100%;
  }

  .intro-top {
    color: var(--colour-grey);
    font-size: 1.5rem;
  }

  .intro-mid {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .intro-mid-inner-left {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
  }

  .intro-mid-inner-right img {
    width: 100%;
  }

  .intro-bottom {
    color: var(--colour-primary);
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .open-button {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: var(--colour-primary-dark);
    animation: glow 1s infinite ease-in-out;
  }

  .intro-description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: var(--colour-text);
  }
}
