.all-projects-section {
  text-align: center;
  padding: 5px;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  border: 1px solid var(--colour-grey-light);
  border-radius: 10px;
}

.project-item {
  background-color: var(--colour-surface);
  box-shadow: var(--shadow-medium);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  gap: 5px;
}

.project-item:hover {
  border: 1px solid var(--colour-secondary);
}

.project-item img {
  width: 150px;
  border-radius: 5px;
  border: 1px solid var(--colour-secondary);
}

.project-description {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  color: var(--colour-text);
}

.project-tags2 {
  background-color: var(--colour-grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
  gap: 10px;
}

.live-button {
  width: 10px;
  background-color: var(--colour-secondary);
  height: 10px;
  border-radius: 100%;
  animation: livesite 1s ease-in-out infinite;
}

.project-title-div {
  display: flex;
  justify-content: space-between;
}

.project-like {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-like svg {
  width: 25px;
  height: 25px;
  fill: var(--colour-grey-light);
}

.project-like:hover svg {
  fill: #ea3323;
}

.inner-like {
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
}

@keyframes livesite {
  0% {
    box-shadow: 0 0 0px var(--colour-secondary);
  }
  100% {
    box-shadow: 0 0 10px var(--colour-secondary);
  }
}

/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 5px;
  }
  .project-item {
    background-color: var(--colour-surface);
    box-shadow: var(--shadow-medium);
    padding: 10px;
    border-radius: 5px;
  }
}

/* Desktop */

@media screen and (min-width: 1000px) {
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 5px;
  }
  .project-item {
    background-color: var(--colour-surface);
    box-shadow: var(--shadow-medium);
    padding: 10px;
    border-radius: 5px;
  }
}
