.flash-container {
  position: fixed;
  top: 80px;
  z-index: 1000;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.flash {
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: inherit;
  text-align: center;
  padding: 3px;
  align-items: center;
  background-color: var(--colour-grey-light);
}

.flash.success {
  color: green;
}

.flash.error {
  color: red;
}
/* Tablet */

@media screen and (min-width: 700px) and (max-width: 999px) {
  .flash-container {
    top: 70px;
  }
}

/* Desktop */

@media screen and (min-width: 1000px) {
  .flash-container {
    top: 100px;
  }
}
