<br>
<br>
<div class="footer">
    <div class="footer-top">
        <div class="footer-left">
            <img src="{{url_for('static', filename='media/favicon.ico')}}" alt="Sheikh Hussain">
            <p><b>Sheikh Hussain</b></p>
            <small>Entry-Level/Aprising Full Stack Web Developer</small>
        </div>
        <div class="footer-mid">
        </div>
        <div class="footer-right">
        </div>
    </div>
    <p class="copyright">&copy; Sheikh Hussain | Made with Python & Flask</p>
</div>