<div class="header">
    <a href="{{url_for('main.home')}}" class="header-logo">
        <img src="{{url_for('static', filename='media/profile-image.jpg')}}" alt="profile image">
        <h1>Sheikh Hussain</h1>
    </a>
    <div class="mobile-menu-button show-on-mobile">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="menu-bar">
        <nav class="menu-nav">
            <a class="menu-item" href="{{url_for('main.home')}}">Home</a>
            <a class="menu-item" href="{{url_for('main.home')}}">About</a>
            <a class="menu-item" href="{{url_for('main.home')}}">Projects</a>
            <a class="menu-item contact" href="{{url_for('main.home')}}">Contact</a>
        </nav>
        <div class="dark-mode-button">
            <div class="dark-mode-inner-button"></div>
        </div>
    </div>
</div>