<div class="header">
    <a href="{{url_for('main.home')}}" class="header-logo">
        <img src="{{url_for('static', filename='media/profile-image.jpg')}}" alt="profile image">
        <h1>Sheikh Hussain</h1>
    </a>
    <!-- From Uiverse.io by Cevorob -->
    <label class="burger show-on-mobile" for="burger">
        <input type="checkbox" id="burger">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <!-- -------------------- -->
    <div class="dark-mode-button">
    </div>
</div>