{% extends 'layout.html' %}
{% block header %}
<meta name="description"
    content="I'm Sheikh Hussain, an aspiring full-stack developer exploring web development, building practical projects, and continually learning new technologies." />
{% endblock header %}

{% block content %}
<section class="intro-section hidden-up">
    <div class="intro-top">
        <p>Aspiring Web Developer</p>
    </div>
    <div class="intro-mid">
        <div class="intro-mid-inner-left">
            <h1>Using My Passion To Build Online Solutions.<span class="flicker"></span>
            </h1>
        </div>
        <div class="intro-mid-inner-right show-on-desktop">
            <img src="{{url_for('static', filename='media/intro-image.png')}}" alt="Intro Image">
        </div>
    </div>
    <div class=intro-bottom>
        <div class="open-button"></div>
        <small>Open to opportunities</small>
    </div>
    <div class="intro-description">
        <p>An aspiring full-stack web developer making websites with <br class="show-on-desktop">Python, Flask, SQL,
            JavaScript, and more...</p>
    </div>
</section>
<section>
    <div class="technologies">
        <div class="tech-item">
            <p>FLASK</p>
        </div>
        <div class="tech-item">
            <p>PYTHON</p>
        </div>
        <div class="tech-item">
            <p>JAVASCRIPT</p>
        </div>
        <div class="tech-item">
            <p>SQL</p>
        </div>
        <div class="tech-item">
            <p>HTML</p>
        </div>
        <div class="tech-item">
            <p>CSS</p>
        </div>
        <div class="tech-item">
            <p>FLASK</p>
        </div>
        <div class="tech-item">
            <p>PYTHON</p>
        </div>
        <div class="tech-item">
            <p>JAVASCRIPT</p>
        </div>
        <div class="tech-item">
            <p>SQL</p>
        </div>
        <div class="tech-item">
            <p>HTML</p>
        </div>
        <div class="tech-item">
            <p>CSS</p>
        </div>
    </div>
</section>
<section id="about" class="about-section hidden-up">
    <div class="about-top">
        <div class="about-header">
            <div class="about-icon"></div>
            <div>
                <small>Personal Bio</small>
                <h2>About Me</h2>
            </div>
        </div>
        <p>An aspiring developer who enjoys building websites and systems that help businesses automate and streamline
            their operations.</p>
    </div>
    <br>
    <br>
    <div class="more-about">
        <p>Hey! I'm <strong>Sheikh</strong>. I've been interested in coding since
            college, and after spending a few
            years working in sales and customer service, I've found my way back to something I've always enjoyed
            <strong>building things with technology</strong>.
        </p>
        <br>
        <p>I'm still learning and, more often than not, figuring things out as I go. I enjoy <strong>solving problems,
                understanding how things work</strong> and seeing an idea slowly turn into something useful. Whether
            that's a website, an API or a database, I enjoy getting stuck in and working things out.</p>
        <br>
        <p>I'm working towards becoming a <strong>full-stack developer</strong>, whilst also exploring areas like
            security and systems. There's still plenty I don't know, but that's part of the fun. For now, I'm focused on
            <strong>learning, building and seeing where it takes me</strong>.
        </p>
    </div>
</section>
<br>
<br>
<section id="skills" class="skills-section">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
        <path
            d="M140-160q-19.67 0-29.33-17.17Q101-194.33 112-211l340.67-543.67q10-15.66 28-15.66t28 15.66L848-211q10.33 16.67 1 33.83Q839.67-160 820-160H140Z" />
    </svg>
    <h2>My Progress</h2>
    <p>These are the skills I have acquired so far and still working on...</p>
    <div class="skills">
        {% for skill in skills %}
        <div class="skill-card hidden-up">
            <div class="skill-header">
                <div class="skill-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#003700">
                        <path
                            d="M228-269.56 17.56-480 228-690.44 309.87-609l-129 129 129 129L228-269.56Zm210.09 115.3-109.83-35.09 192.65-616.39 110.83 34.65-193.65 616.83ZM732-269.56 650.13-351l129-129-129-129L732-690.44 942.44-480 732-269.56Z" />
                    </svg>
                </div>
                <div>
                    <p><strong>{{skill.skill.upper()}}</strong></p>
                </div>
                <div>
                    <p>
                        {{skill.duration}} {% if skill.duration > 1 %} Months {% else %}
                        Month {% endif %}
                    </p>
                </div>
            </div>
            <div class="skill-grade-outer">
                <div class="skill-grade-inner" data-duration="{{skill.duration}}"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<br>
<br>
<section id="projects" class="projects-section">
    <div class="project-top">
        <div class="project-header">
            <div class="project-icon"></div>
            <div>
                <small>Featured Work</small>
                <h2>Projects</h2>
            </div>
        </div>
    </div>
    <div class="projects">
        {% for project in projects %}
        <div class="project hidden-up">
            <div class="project-title-div">
                <p><b>{{project.title.title()}}</b></p>
                <div class="project-like">
                    <p>
                        {% if project.likes < 10 %} {{project.likes}} {% else %} 9+ {% endif %} {% if project.likes==1%}
                            like {% else %} likes {% endif %} </p>
                </div>
            </div>
            <p>{{project.description.capitalize()}}</p>
            <div class="project-tags">
                {% set tags = project.tags.split(", ")%}
                {% for tag in tags %}
                <div class="project-tag">{{tag.upper().strip()}}</div>
                {% endfor %}
            </div>
            <div class="project-links">
                {% if project.live %}
                <a href="{{project.live}}" target="_blank">
                    <p><b>Live Demo</b></p>
                </a>
                {% endif %}
                {% if project.github %}
                <a href="{{project.github}}" target="_blank">
                    <p><b>Source Code</b></p>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="all-projects-link">
        <a href="{{url_for('main.projects_page')}}">
            <p><b>View All Projects</b></p>
        </a>
    </div>
</section>
<br>
<br>
<section class="contact-section hidden-up" id="contact">
    <div class="contact-top">
        <div class="contact-header">
            <div class="contact-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path
                        d="m291.67-575 161-259q5.33-8 12.33-11.83 7-3.84 15.67-3.84 8.66 0 15.66 3.84 7 3.83 12.34 11.83l161 259q5.33 8.67 5 17.67-.34 9-4.67 16.66-4.33 7.67-11.73 12.17T641-524H320.33q-9.86 0-17.26-4.5-7.4-4.5-11.74-12.17-4.33-7.66-4.66-16.66-.34-9 5-17.67ZM704-80q-73.33 0-124.67-51.33Q528-182.67 528-256t51.33-124.67Q630.67-432 704-432t124.67 51.33Q880-329.33 880-256t-51.33 124.67Q777.33-80 704-80Zm-584-56.67v-242.66q0-14.17 9.58-23.75 9.59-9.59 23.75-9.59H396q14.17 0 23.75 9.59 9.58 9.58 9.58 23.75v242.66q0 14.17-9.58 23.75-9.58 9.59-23.75 9.59H153.33q-14.16 0-23.75-9.59-9.58-9.58-9.58-23.75Z" />
                </svg></div>
            <div>
                <small>Get In Touch</small>
                <h2>Contact</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="socials">
        <a href="{{sheikh.linkedin}}" target="_blank">
            <div class="social">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                        d="M100.3 448l-92.9 0 0-299.1 92.9 0 0 299.1zM53.8 108.1C24.1 108.1 0 83.5 0 53.8 0 39.5 5.7 25.9 15.8 15.8s23.8-15.8 38-15.8 27.9 5.7 38 15.8 15.8 23.8 15.8 38c0 29.7-24.1 54.3-53.8 54.3zM447.9 448l-92.7 0 0-145.6c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7l0 148.1-92.8 0 0-299.1 89.1 0 0 40.8 1.3 0c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3l0 164.3-.1 0z" />
                </svg>
            </div>
        </a>
        <a href="mailto:{{sheikh.email}}" target="_blank">
            <div class="social">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path
                        d="M767-160H640q-17 0-28.5-11.5T600-200q0-17 11.5-28.5T640-240h127l-36-36q-12-12-11.5-28t12.5-28q12-11 28-11.5t28 11.5l104 104q6 6 9 13t3 15q0 8-3 15t-9 13L788-68q-11 11-27.5 11.5T732-68q-11-11-11-28t11-28l35-36Zm-607 0q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v260q0 18-15.5 28t-32.5 3q-17-5-35.5-8t-36.5-3q-100 0-170 70t-70 170q0 17-11.5 28.5T480-160H160Zm320-360L212-688q-17-11-34.5-1T160-659q0 9 4 16.5t12 12.5l283 177q10 6 21 6t21-6l283-177q8-5 12-12.5t4-16.5q0-20-17.5-30t-34.5 1L480-520Z" />
                </svg>
            </div>
        </a>
    </div>
</section>
{% endblock content %}