<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {% block headers %}
    {% endblock headers %}
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message.upper() }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <header>
        {% includes 'header.html' %}
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        {% includes 'footer.html' %}
    </footer>
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
</body>

</html>